# --- Configuración Personal y Secretos ---
.env
scripts/encode_credentials.dart

# --- Archivos de Sistema (Kubuntu/Windows/macOS) ---
.DS_Store
.directory
*.log
*.swp
*.class
*.pyc
.history
.anchor
.atom/

# --- IDEs: IntelliJ / Android Studio / VS Code ---
*.iml
*.ipr
*.iws
.idea/
.vscode/
.vs/

# --- Flutter / Dart ---
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
**/doc/api/
analyze_output*.txt
flutter_log.txt

# --- Generadores de Código (Riverpod / Freezed) ---
*.g.dart
*.freezed.dart

# --- Android / iOS Specific ---
/android/app/debug
/android/app/profile
/android/app/release
app.*.symbols
app.*.map.json
**/ios/Flutter/.last_build_id

# --- C++ / TDLib / Binarios ---
windows/tdlib_libs/
linux/tdlib_libs/
*.dll
*.so
*.lib
*.exe
*.pdb
*.obj
.build/
.buildlog/

# --- Otros ---
.svn/
.swiftpm/
migrate_working_dir/