[Desktop Entry]
Version=1.0
Name=Video Player App
Comment=Futuristic Video Player
Exec=video_player_app
Icon=video_player_app
Terminal=false
Type=Application
Categories=AudioVideo;Player;Video;
Keywords=video;movie;player;
StartupNotify=true
StartupWMClass=com.arsabe75.videoplayerapp.video_player_app
